.container{
    max-width: 100vw;
}
.container{
    height: 86vh;
}
#send-container input {
    width: 80vw;

}

.message{
    width: 65vw;
}

@media only screen and (max-width:390px){
    #send-container input {
        width: 72vw;
    }
}